<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta http-equiv="page-Enter" content="revealTrans(Duration=3.0,Transition=23)">
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="lib/layui/css/layui.css"/>
		<script src="lib/jquery/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/setCookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/ajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<title>学习资料详情</title>
	</head>
	<style type="text/css">
		body{
			background: #fff;
		}
		iframe body img{
			width: 100% !important;
		}
	</style>
	<body>
		<!-- 进入页面 -->
		<div id="app" v-cloak>
			<div class="topNavBar" style="color: #FFFAED !important;height: 5vh;line-height: 5vh;">
				<span onclick="window.history.back(-1)">返回</span>
				 &nbsp;| &nbsp;
				<a style="color: #FFFAED !important;" href="app.html">首页</a>
			</div>
			<div class="mainBody">
				<!-- 测试 -->
				<div class="startTest" v-if="testBox == true">
					<div class="startTestBox">
						<div class="closeCode">
							<span @click="cancelTest">×</span>
						</div>
						<div class="kstime" v-if="complete == 0">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							<span>{{minutes}}:{{seconds}}</span>
						</div>
						<div class="testTitle">{{dataListWrap.test.title}}</div>
						<div class="testBox">
							<!-- 单选题 -->
							<div class="testSub" v-if="testObject.single.length > 0">
								<div class="testType">一、单选题</div>
								<!-- 此处循环 -->
								<div class="testSubItem" v-for="(item,index) in testObject.single">
									<div class="selectPro">
										{{index+1}}.{{item.title}}
									</div>
									<div class="selection layui-form">
										<div class="layui-form-item">
											<div class="layui-input-block">
											  <input :disabled="complete == 1" :checked="items.title.split('选项')[1] == item.answer && complete == 1" type="radio" v-for="(items,index1) in item.option" :name="index" :qid="item.qid" :value="items.title.split('选项')[1]" :title="items.title+': '+items.content">
											</div>
										  </div>
									</div>
									<div class="answer"  v-show="complete == 1">
										<div class="answerWrap">
											<div class="yourAnwer">你的选项：{{item.com_answer}}</div>
											<div class="trueAnwer">正确答案：{{item.answer}}</div>
										</div>
										<div class="anlys">题目解析：{{item.analysis}}。所以这题选 {{item.answer}}</div>
									</div>
								</div>
								<!-- 多选题 -->
								<div class="" v-if="testObject.more.length > 0">
									<div class="testType">二、多选题</div>
									<div class="testSubItem" v-for="(item,index) in testObject.more">
										<div class="selectPro">
											{{index+1}}.{{item.title}}
										</div>
										<div class="selection layui-form" >
											<div class="layui-form-item">
												<div class="layui-input-block">
												   <input :disabled="complete == 1"  type="checkbox" lay-skin="primary" v-for="(items,index1) in item.option" :name="index1" :qid="item.qid" :value="items.title.split('选项')[1]" :title="items.title+': '+items.content">
												</div>
											  </div>
										</div>
										<div class="answer"  v-show="complete == 1">
											<div class="answerWrap">
												<div class="yourAnwer">你的选项：{{item.com_answer}}</div>
												<div class="trueAnwer">正确答案：{{item.answer}}</div>
											</div>
											<div class="anlys">题目解析：{{item.analysis}}。所以这题选 {{item.answer}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="submitTest" v-show="complete == 0">
							<div @click="cancelTest">取消</div>
							<div @click="submitTest">提交</div>
						</div>
						<div class="finishTest" v-show="complete == 1">
							<div>
								<div><span>题目数</span>：{{bottom.count}}</div>
								<div><span>考试时长</span>：{{bottom.time}}分钟</div>
								<div><span>总分</span>：{{bottom.total}}</div>
								<div><span>及格分</span>：{{bottom.pass}}</div>
							</div>
							<div>
								<span>最终得分：</span>{{bottom.finily}}
							</div>
						</div>
					</div>
				</div>
				<div class="videoWrap">
					<div class="videoTit">{{dataListWrap.title}}</div>
					<div class="videoSubtit">
						<div class="videoParam">资料数量：{{dataListWrap.file.length}}</div>
						<div class="videoParam">总课时：{{dataListWrap.hour}}</div>
						<div class="videoParam">发布时间：{{dataListWrap.addtime}}</div>
					</div>
					<!-- 视频详情 -->
					<div class="videDetial">
						<div class="videoSrc">
							<video v-if="playingtype == 3" :src="playing" poster="" preload  controls autoplay controlsList="nodownload" class=""></video>
							<iframe allowfullscreen="true"  v-if="playingtype == 1" limit="0" :src="playing"></iframe>
							<iframe allowfullscreen="true" v-if="playingtype == 8" :src="playing+'#toolbar=0'"></iframe>
							<!-- <audio v-if="playingtype == 2" style="margin: -5vh;height: 107%;" :src="playing"></audio> -->
							<img style="width: 100%;" v-if="playingtype == 2" :src="playing" />
						</div>
						<div class="videoList">
							<div class="videoListTit">
								<div class="videoItem">
									<span>课程目录</span>
									<span>{{playingIndex+1}}/{{dataListWrap.file.length}}</span>
								</div>
								<div class="videoDonwload">
									<div>
										<!-- <img src="statics/images/downloadIcon.png" > -->
									</div>
									<!-- <div @click="downLoadResource">下载</div> -->
								</div>
							</div>
							<div class="videoListItemWrap"  :class="hasTest == true?'finishHeight':''">
								<div class="videoListItem" @click="changePlay(item.bs_id,item.rid,item.src,index)" :class="playingIndex == index?'videoListItemSelect':''" v-for="(item,index) in dataListWrap.file">
									<div class="itemName">{{item.title}}</div>
									<div class="progress">
										<!-- <span>已学完</span> -->
										<!-- <span>进行中</span>
										<span>带进行</span> -->
									</div>
								</div>
							</div>
							<div class="hasTestBox" v-if="dataListWrap.assessment == 1">
								<div class="videoListTit">
									<div class="videoItem">
										<span>课后测试</span>
									</div>
								</div>
								<div class="hasTestItem">
									<div class="hasTestTitle">{{dataListWrap.test.title}}</div>
									<div class="hasTestSub">
										<div><span>题目数：</span>{{dataListWrap.test.count}}</div>
										<div><span>考试时长：</span>{{dataListWrap.test.duration}}分钟</div>
									</div>
									<div class="hasTestSub">
										<div><span>总分：</span>{{dataListWrap.test.total}}</div>
										<div><span>及格分：</span>{{dataListWrap.test.pass}}</div>
									</div>
									<div class="startHasBtn">
										<span style="flex: 1;"></span>
										<span @click="startTest" v-if="complete == 0">开始测试</span>
										<span @click="startTest" v-if="complete == 1">查看</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(function(){
				// 签到
				$('.qd').click(function(){
					$('.qdmark').css('display','flex')
				})
				// 签到
				$('.close').click(function(){
					$('.qdmark').css('display','none')
				})
			})
		</script>
		<script type="text/javascript">
			window.onload = function(){
				var app = new Vue({
					el:"#app",
					data:{
						testBox:false,
						// 完成
						finish:false,
						// 是否有测试
						hasTest:true,
						// get数据
						get:{
							id:"",
							flag:"",
							user_id:user.id
						},
						// 学习数据列表
						dataListWrap:{},
						// 当前播放资源
						playing:"",
						// 当前播放集数
						playingIndex:0,
						// 当前类型
						playingtype:1,
						testBox:false,
						// 完成
						finish:false,
						// 试卷名称
						testTitle:"",
						// 考试倒计时
						// 分钟
						minutes:0,
						// 秒
						seconds:60,
						time:null,
						//试卷id
						tid:"",
						aid:"",
						// 试卷题目
						testObject:{
							more:[],
							single:[]
						},
						// 试题结束查看详情
						complete:0,
						// 底部结果
						bottom:{
							count:0,
							time:0,
							total:0,
							pass:0,
							finily:0
						},
						upload_flag:[],
						upload_id:[],
						ment_url:[],
						classs:[],
						type:[],
						title:[],
						//进入页面时间
						startTime:0,
						// 离开页面时间
						leaveTime:0,
						// 资源总时间
						total_minute:0,
						hy_id:0,
						hy_flag:0,
						bsid:"",
						stayTime:0
					},
					methods:{
						// 学习内容
						dataList(){
							var that = this;
							that.get.flag = getUrlParam("flag");
							postData("activityDetail",that.get,function(res){
								if(res.code == 200){
									if(res.data.file.length > 0){
										that.startTime = new Date().getTime();
										that.stayTime = new Date().getTime();
										res.data.addtime = toNumber(res.data.addtime);
										that.dataListWrap = res.data;
										that.complete = res.data.test?res.data.test.complete:"";
										that.changePlay(res.data.file[parseInt(getUrlParam('index'))].bs_id,res.data.file[parseInt(getUrlParam('index'))].rid,res.data.file[parseInt(getUrlParam('index'))].src,parseInt(getUrlParam('index')));
											
										// 默认下载地址
										that.downLoadUrl = res.data.file;
										for(var i=0;i<res.data.file.length;i++){
											that.upload_flag.push(res.data.file[i].file_flag);
											that.upload_id.push(res.data.file[i].rid);
											that.ment_url.push(res.data.file[i].src);
											that.classs.push(res.data.file[i].bs_id);
											that.title.push(res.data.file[i].title);
											that.type.push(res.data.file[i].type);
										}
										that.total_minute = parseInt(res.data.hour) * 60*45;
										that.hy_id = res.data.id;
										that.hy_flag = res.data.hy_flag;
										// 判断是否有考核
										if(res.data.assessment == 1){
											var data = {
												tid:res.data.test.id,
												hyid:that.get.id,
												flag:that.get.flag,
												user_id:user.id
											}
											that.test(data)
										}
									}
								}
							})
						},
						// 改变数据内容
						changePlay(bsid,rid,src,index){
							var that = this;
							that.playing = "";
							that.playingIndex = index;
							that.playingtype = bsid;
							that.leaveTime = new Date().getTime();
							that.rid = rid;
							var minute = parseInt((that.leaveTime-that.startTime) / 1000);
							// 黔江烟草
							resourceQd(that.hyid,that.hy_flag,that.rid,that.playingtype,2,minute,1) 
							that.startTime=that.leaveTime;
							if(bsid == 8 && src.search("docx") != -1){
								var uuid = src.split(".docx")[0].split("pdf/")[1];
								that.playing = 'http://st.topics.gmw.cn/p1/dj/pdf/'+uuid+'.pdf';
							}else{
								that.playing = src;
							}
						},
						// 学习
						test(data){
							var that = this;
							postData("activityQuestionList",data,function(res){
								if(res.code == 200){
									// 试卷题目
									that.testObject = {
										more:res.data.more,
										single:res.data.single
									};
									if(that.complete == 1){
										that.bottom.count = that.dataListWrap.test.count;
										that.bottom.time =  that.dataListWrap.test.duration;
										that.bottom.total = res.data.total;
										that.bottom.pass = res.data.pass;
										that.bottom.finily = res.data.com_number;
									}else{
										// 考试时间
										var duration = parseInt(that.dataListWrap.test.duration);
										// 考试时间倒计时分钟赋值
										that.minutes = duration -1;
									}
								}
							})
						},
						// 开始考试
						startTest(){
							var that = this;
							that.testBox = true;
							setTimeout(function(){
								layui.use(['layer','form'],function(){
									var layer = layui.layer;
									var form = layui.form;
									form.render();
								})
							},300)
						},
						// 提交试卷
						submitTest(){
							var that = this;
							that.testAnwser();
						},
						// 试卷试题值
						testAnwser(){
							var that = this;
							var single = [],more1 = [],more = [];
							// 提交试卷单选
							if(that.testObject.single.length>0){
								for(var i=0;i<that.testObject.single.length;i++){
									if($('input:radio[name="'+i+'"]:checked').val()){
										single.push({
											qid:$('input:radio[name="'+i+'"]:checked').attr("qid"),
											answer:[$('input:radio[name="'+i+'"]:checked').val()]
										})
									}else{
										layer.msg("选项不能为空",{anim:6,time:600});
										return false
									}
								}
							}
							// 提交试卷多选
							if(that.testObject.more.length>0){
								for(var i=0;i<that.testObject.more.length;i++){
									var qid = $('input:checkBox[name="'+i+'"]:checked').attr("qid")
									for(var j=0;j<that.testObject.more[i].option.length;j++){
										$('input:checkBox[name="'+j+'"]:checked').each(function(index, element) {
											more1.push($(this).val());
										});
									}
									if(more1.length == 0){
										layer.msg("选项不能为空",{anim:6,time:600});
										return false
									}else{
										more.push({
											qid:qid,
											answer:more1
										})
									}
								}
							}
							var data = {
								hyid:that.get.id ,
								flag:that.get.flag,
								tid:that.dataListWrap.test.id,
								uid:user.id,
								answer:single.concat(more)
							}
							postData("makeActivityTest",data,function(res){
								if(res.code == 200){
									that.complete = 1
									that.testBox = false;
									// 清楚定时
									window.clearInterval(that.time);
									that.dataList();
								}
							})
						},
						// 取消答题
						cancelTest(){
							var that = this;
							// 清楚定时
							window.clearInterval(that.time);
							that.seconds = 60;
							that.testBox = false;
						},
						// 下载
						downLoadResource(){
							var that = this;
							var data = {
								type:that.type,
								upload_flag:that.upload_flag,
								upload_id:that.upload_id,
								classs:that.classs,
								uid:user.id,
								flag:user.flag,
								ment_url:that.ment_url,
								title:that.title,
							}
							postData("bulkDown",data,function(){
								
							})
						},
						// 监听离开页面
						leavePage(){
							var that = this;
							window.onbeforeunload=function(e){
							　　var e = window.event||e;  
								that.leaveTime = new Date().getTime();
								var minute = parseInt((that.leaveTime-that.stayTime) / 1000);
								if(that.type1 == 'focus'){
									browHistory(that.hyid,that.hy_flag,getUrlParam("type"),that.rid,minute,that.total_minute,user.id,user.flag);
								}else{
									browHistory(0,0,getUrlParam("type"),that.get.id,minute,that.total_minute,user.id,user.flag);
								}
								// 黔江烟草
								resourceQd(that.hyid,that.hy_flag,that.rid,that.playingtype,2,minute,1)
							}
						}
					},
					mounted() {
						var that = this;
					},
					created() {
						var that = this;
						that.get.id = getUrlParam("id");
						that.get.flag = getUrlParam("hy_flag");
						that.type1 = getUrlParam('type1');
						if(that.type1 == 'focus'){
							that.get.id = getUrlParam("hyid");
							that.rid = getUrlParam("id");
							that.hyid = getUrlParam("hyid");
							that.hy_flag = getUrlParam("hy_flag");
						}else{
							that.hyid = getUrlParam("id");
						}
						that.dataList();
						that.leavePage();
					}
				})
			}
		</script>
	</body>
</html>
