<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta http-equiv="page-Enter" content="revealTrans(Duration=3.0,Transition=23)">
		<link rel="stylesheet" type="text/css" href="lib/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.css"/>
		<script src="lib/jquery/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/setCookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/ajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<title>个人学习</title>
	</head>
	<body>
		<script src="js/nav.js" type="text/javascript" charset="utf-8"></script>
		<div class="mainBody" id="app" v-cloak>
			<!-- 标题 -->
			<div class="flagTit">
				<div class="flagTitIcon">个人学习</div>
				<div class="backBtn" onclick="window.history.back(-1)">
					<img src="statics/images/back_btn.png" >
					<span>返回</span>
				</div>
			</div>
			<div class="searchBox">
				<div>
					<div>学习标题：</div>
					<div class="search">
						<input type="text" v-model="searchbox" name="" id="search" value=""  placeholder="输入查询"/>
						<i @click="search" class="fa fa-search" aria-hidden="true"></i>
					</div>
				</div>
				<div class="layui-form">
					<div>年份：</div>
					<div class="search">
						<div class="layui-form-item">
						    <div class="layui-input-block">
						      <select name="city" lay-verify="required" lay-filter="year">
						        <option value=""></option>
						        <option :value="item" v-for="item in yearWrap">{{item}}</option>
						      </select>
						    </div>
						  </div>
					</div>
				</div>
				<div class="layui-form">
					<div>月份：</div>
					<div class="search">
						<div class="layui-form-item">
						    <div class="layui-input-block">
						      <select name="city" lay-verify="required" lay-filter="month">
						        <option value=""></option>
						        <option value="1">1月</option>
						        <option value="2">2月</option>
						        <option value="3">3月</option>
						        <option value="4">4月</option>
						        <option value="5">5月</option>
						        <option value="6">6月</option>
						        <option value="7">7月</option>
						        <option value="8">8月</option>
						        <option value="9">9月</option>
						        <option value="10">10月</option>
						        <option value="11">11月</option>
						        <option value="12">12月</option>
						      </select>
						    </div>
						  </div>
					</div>
				</div>
			</div>
			<!-- 内容列表 -->
			<div class="contList" id="appWrap">
				<div>
					<!-- 此处循环 -->
					<div class="contListItem1" v-for="(item,index) in dataList" style="height:42vh ;">
						<div class="topImg">
							<img :src="item.sz_img" >
						</div>
						<div class="bottomWords1" style="height: 18vh;">
							<div class="bbTit">{{item.title}}</div>
							<div class="bbTime bbTime1">
								<div class="bbtime1">时间：{{item.k_time}}</div>
								<div class="bbtime1">{{item.hour}}课时</div>
							</div>
							<div class="bbTime bbTime1">
								资源数量：{{item.count}}
							</div>
							
							<div class="bbbtn1" v-if="dwid==699">
								<div></div>
								<div @click="goStudy(item.id,item.hy_flag,item.count,index)">学习</div>
							</div>
							<div class="bbbtn1" v-else>
								<div>
									<span v-if="item.speed == 1">未开始</span>
									<span v-if="item.speed == 2">已学{{parseInt(((item.complete_hour / item.hour).toFixed(2))*100)}}%</span>
									<span class="finshed" v-if="item.speed == 3">已学完</span>
								</div>
								<div v-if="item.speed == 1" @click="goStudy(item.id,item.hy_flag,item.count,index)">开始学习</div>
								<div v-if="item.speed == 2" @click="goStudy(item.id,item.hy_flag,item.count,index)">继续学习</div>
								<div v-if="item.speed == 3" @click="goStudy(item.id,item.hy_flag,item.count,index)">继续学习</div>
							</div>
						</div>
					</div>
					<div class="null" v-show="dataList.length == 0">暂无数据</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			window.onload = function(){
				var app = new Vue({
					el:"#app",
					data:{
						// 个体数据传参
						total:1,
						page:1,
						get:{
							page:1,
							user_id: user.id,
							title:"", 
							year:"",
							month:"",
						},
						dwid:user.dwid,
						page:1,
						total:1,
						// 数据循环
						dataList:[],
						yearWrap:[],
						// 文字搜索
						searchbox:"",
					},
					methods:{
						importClass(){
							var that = this;
							// 个人学习列表
							postData("personStudy",that.get,function(res){
								if(res.code == 200){
									if(res.data.pagedata != null){
										for(var i=0;i<res.data.pagedata.length;i++){
											res.data.pagedata[i].h_stime = toNumber(res.data.pagedata[i].h_stime)
											that.dataList.push(res.data.pagedata[i]);
										}
										that.total = res.data.total;
									}else{
										that.dataList = [];
									}
								}
							})
						},
						// 搜索
						search(){
							var that = this;
							that.get.title = that.searchbox;
							that.get.page = 1;
							that.page = 1;
							that.dataList = [];
							that.importClass();
						},
						scroll(){
							var that = this;
							var scroll = document.getElementById('appWrap');
							scroll.onscroll = function(){
							    var t = scroll.scrollTop;  //离上方du的距zhi离
							    var h =scroll.innerHeight || scroll.clientHeight || scroll.clientHeight; //可见dao宽度
							    if( t >= (scroll.scrollHeight -h-100) ) {
									that.page++;
									if(that.page == that.total+1){
										that.page = that.total
									}else{
										if(that.page <= that.total){
											that.get.page = that.page
											that.importClass()
										}
									}
							    }
							}
						},
						// 查看详情
						goStudy(id,flag,count,index){
							if(count!=0){
								window.location.href = 'detailClass.html?id='+id+'&flag='+flag+'&type=1'+'&type1=geren'+'&index='+index
							}else{
								alert("暂无资源")
							}
						},
						// 年份列表
						yearList(){
							var that = this;
							var year = new Date().getFullYear();
							for(var i=0;i<5;i++){
								that.yearWrap.push(year--);
							}
						}
					},
					mounted() {
						var that = this;
						that.scroll();
						// 初始化layui框架
						layui.use(['layer','form'],function(){
							var layer = layui.layer;
							var form = layui.form;
							// 年份筛选
							form.on('select(year)', function (data) {
								that.get.year = data.value;
								that.get.page = 1;
								that.page = 1;
								that.dataList = [];
								that.importClass();
							});
							// 月份筛选
							form.on('select(month)', function (data) {
								that.get.month = data.value;
								that.get.page = 1;
								that.page = 1;
								that.dataList = [];
								that.importClass();
							});
						})
					},
					created() {
						var that = this;
						that.importClass();
						that.yearList();
						// 顶部样式
						$('.topNavItem').eq(1).addClass("topNavselect").siblings().removeClass("topNavselect");
						// 回车键搜索
						$(document).keydown(function(event){
							if(event.keyCode == 13){
								that.get.title = that.searchbox;
								that.importClass();
							}
						})
					}
				})
			}
		</script>
	</body>
</html>
